SECRET=xyz  #helpul when you add authentication with your API but currently we are not using decodeToken Middleware 
PORT=8000
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=default
REDIS_HOST=redis://localhost

#BITGET API's Key
API_KEY_BITGET=""
API_SECRET_BITGET=""
API_PASS_BITGET=""
# Broker API's Key
BINANCE_KEY
BINANCE_SECRET
